node_red.js
[{"id":"7c0889de.3aebe8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d9447c8c.82f6e8","type":"mqtt in","z":"7c0889de.3aebe8","name":"","topic":"/feeds/motion","qos":"0","datatype":"auto","broker":"24c142f9.f5171e","x":180,"y":220,"wires":[["eacbf67d.893ca"]]},{"id":"268ab4fc.673ea4","type":"debug","z":"7c0889de.3aebe8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":260,"wires":[]},{"id":"17a6f29.a5a078d","type":"batch","z":"7c0889de.3aebe8","name":"","mode":"interval","count":10,"overlap":0,"interval":"10","allowEmptySequence":false,"topics":[],"x":690,"y":80,"wires":[[]]},{"id":"eacbf67d.893ca","type":"function","z":"7c0889de.3aebe8","name":"","func":"var mArray = msg.payload.split(\"/\");\n\nvar home=0;\nvar motion = 0;\nif (mArray[0] == \"Motion\") motion = 1;\nif (mArray[1] == \"Home\") home = 1;\nvar currentdate = new Date();\nvar currentmaindate = currentdate.getDate()+\"-\"+currentdate.getMonth()+\"-\"+currentdate.getFullYear()\nvar currentmaintime = currentdate.getHours() + \":\" + currentdate.getMinutes() + \":\" + currentdate.getSeconds();\nvar msgJson = JSON.stringify({ date: currentmaindate,time: currentmaintime,home: home, motion: motion});\nmsg.payload = msgJson;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":400,"y":60,"wires":[["d575d4f5.bceb1"]]},{"id":"d575d4f5.bceb1","type":"json","z":"7c0889de.3aebe8","name":"","property":"payload","action":"","pretty":false,"x":520,"y":140,"wires":[["84a84c3a.af475","d0ef146c.ae29c8"]]},{"id":"d0ef146c.ae29c8","type":"csv","z":"7c0889de.3aebe8","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"date,time,home,motion","skip":"0","x":620,"y":300,"wires":[["268ab4fc.673ea4","aeca065a.97f7a8"]]},{"id":"aeca065a.97f7a8","type":"file","z":"7c0889de.3aebe8","name":"","filename":"/home/pi/motion/second_editedafterproblem_newpir_.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":970,"y":440,"wires":[["268ab4fc.673ea4"]]},{"id":"84a84c3a.af475","type":"debug","z":"7c0889de.3aebe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":160,"wires":[]},{"id":"e50ec83d.93afc8","type":"function","z":"7c0889de.3aebe8","name":"","func":"\nvar motion1 = 0;\nvar home1=0;\nvar currentdate1 = new Date();\nvar currentmaindate1 = currentdate1.getDate()+\"-\"+currentdate1.getMonth()+\"-\"+currentdate1.getFullYear()\nvar currentmaintime1 = currentdate1.getHours() + \":\" + currentdate1.getMinutes() + \":\" + currentdate1.getSeconds();\nvar msgJson = JSON.stringify({ date: currentmaindate1,time: currentmaintime1,home: home1, motion: motion1});\nmsg.payload = msgJson;\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["d575d4f5.bceb1"]]},{"id":"5924d9a9.85e728","type":"inject","z":"7c0889de.3aebe8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"1","x":150,"y":360,"wires":[["e50ec83d.93afc8"]]},{"id":"24c142f9.f5171e","type":"mqtt-broker","z":"","name":"PiMosquitto","broker":"localhost","port":"1883","clientid":"node-red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
